In [1]:
num=int(input("which table do you want:"))
for i in range(1,11):
  print(num,'x',i,"=",num*i)

which table do you want:10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100